<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="VehicleRoot" value="Vehicles" />
		<add key="ClientLogFile" value="client.log" />
		<add key="DelayBetweenRowsMs" value="0" />
		<add key="SimulateBreakAfterRows" value="5" />
	</appSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="TcpStreamingBinding"
						 transferMode="Buffered"
						 maxReceivedMessageSize="67108864"
						 maxBufferSize="67108864"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00">
					<readerQuotas maxDepth="64"
								  maxStringContentLength="67108864"
								  maxArrayLength="67108864"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<client>
			<endpoint name="ChargingServiceEndpoint"
					  address="net.tcp://localhost:9001/ChargingService"
					  binding="netTcpBinding"
					  bindingConfiguration="TcpStreamingBinding"
					  contract="EVCharging.Shared.Contracts.IChargingService" />
		</client>
	</system.serviceModel>
</configuration>
