<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="DataRoot" value="Data" />
		<add key="VoltageSpikeThreshold" value="10" />
		<add key="CurrentSpikeThreshold" value="5" />
		<add key="PowerFactorMinimum" value="0.90" />
	</appSettings>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="TcpStreamingBinding"
						 transferMode="Streamed"
						 maxReceivedMessageSize="67108864"
						 maxBufferSize="67108864"
						 receiveTimeout="00:10:00"
						 sendTimeout="00:10:00"
						 openTimeout="00:01:00"
						 closeTimeout="00:01:00">
					<readerQuotas maxDepth="64"
								  maxStringContentLength="67108864"
								  maxArrayLength="67108864"
								  maxBytesPerRead="4096"
								  maxNameTableCharCount="16384" />
					<security mode="None" />
				</binding>
			</netTcpBinding>
		</bindings>

		<services>
			<service name="EVCharging.Server.Services.ChargingService" behaviorConfiguration="ChargingServiceBehavior">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:9001" />
					</baseAddresses>
				</host>
				<endpoint address="ChargingService"
						  binding="netTcpBinding"
						  bindingConfiguration="TcpStreamingBinding"
						  contract="EVCharging.Shared.Contracts.IChargingService" />
				<endpoint address="mex"
						  binding="mexTcpBinding"
						  contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="ChargingServiceBehavior">
					<serviceMetadata />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
